div form input {
	font-size: 16px;
	font-family: sans-serif;
	width: 450px;
	text-align: left;
	padding: 5px;
}

#image {
	padding: 250px 250px 0px 250px;
}

center {
	float: clear;
}

li a {
	text-decoration: none;
}

li {
	display: inline;
	margin: 30px;

}

#top_right {
	float: right;
}

div#bottom_right.nav {
	float: right;
	bottom: 0;
	position: relative;
	background-color: #f5f4f4;
}

div#bottom_left.nav {
	margin-top: 100px;
	float: left;
	position: absolute;
	bottom: 0;
	background-color: #f5f4f4;
}

