li a {
	text-decoration: none;
}

li {
	display: inline;

}

#top_right {
	float: right;
}

#bottom_right {
	float: right;
}

#bottom_left {
	float: left;
}
#bottom_right, #bottom_left  {
	background-color: #f5f5f5;
}

