div form input {
	font-size: 16px;
	font-family: sans-serif;
	width: 450px;
	text-align: left;
	padding: 5px;
}

#image {
	padding: 250px 250px 0px 250px;
}

li a {
	text-decoration: none;
}

li {
	display: inline;
	margin: 30px;
}

#top_right {
	float: right;
}

div.nav#bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #f5f4f4;
}
span#left {
	float: left;
	width: 50%;
}

span#right {
	float: right;
	width: 50%;
}

#right ul {
	float: right;
}

body {
	min-height: 100%;
	position: relative;
}

html {
	height: 100%;
}